<% if current_user %>
    <%= link_to 'Новая запись', new_post_path %>
<% end %>  

<% @posts.each do |post| %>
<!-- blog entry -->
     <h1><%= link_to post.title, post %>
     </h1>
     <hr>
     <p>
         <span class="glyphicon glyphicon-time"></span> Дата публикации: <%= post.created_at %></p>
     <hr>
     <div class="post-content">
        <%= truncate(post.content.html_safe, separator: ' ', omission: '...', length: 500, escape: false) { link_to 'Читать далее', post} %> 
     </div>
     <% if current_user %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
     <% end %>  
    <hr>
  <% end %>

  <!-- pager -->
<ul class="pager">
    <li class="previous"><a href="#">&larr; Older</a>
    </li>
    <li class="next"><a href="#">Newer &rarr;</a>
    </li>
</ul>
<% provide(:title, "Главная") %>
