<% @posts.each do |post| %>
<article class="row">
    
<aside class="col-lg-2 post-meta">
    <span class="publication-date"><%= post.created_at.strftime('%d %b %Y') %></span>
</aside>
<div class="col-lg-10">

<% if current_user %>
    <%= link_to 'Новая запись', new_post_path %>
<% end %>  
<!-- blog entry -->
     <h3><%= link_to post.title, post %></h3>
         <% if current_user %>
            <p>
            <%= link_to 'Редактировать пост', edit_post_path(post) %>
            </p>
            <hr>
        <% end %>
     <div class="post-content">
        <%= truncate(post.content.html_safe, separator: ' ', omission: '...', length: 500, escape: false) { link_to 'Читать далее', post} %> 
     </div>
</div>

</article>
  <% end %>