<% @posts.each do |post| %>
<article class="row">
<aside class="col-lg-2 post-meta">
    <span class="publication-date"><%= Russian::strftime(post.created_at, "%e %B %Y")  %></span>
</aside>
<div class="col-lg-10">
<!-- blog entry -->
  <h3><%= link_to post.title, post %></h3>
  <% if current_user %>
    <p>
      <%= link_to 'Редактировать пост', edit_post_path(post) %>
    </p>
    <hr>
  <% end %>
  <div class="post-content">
    <%= markdown post.content %>
  </div>
</div>
</article>
<% end %>

<%= will_paginate @posts, previous_label: "← Туда", next_label: "Сюда →" %>
